.header {
    padding: 1px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 990;
    background: black;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-logo {
    display: flex;
    align-items: center;
}

.menu-logo_link {
    display: block;
    text-decoration: none;
}

.menu-nav-container {}

.menu-nav {
    display: flex;
    flex-direction: row;
}

.menu-nav_item {
    list-style: none;
}

.menu-nav_link {
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}
